name: CI

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  Tests:
    runs-on: macOS-latest
    strategy:
      matrix:
        platform: [iOS, macOS, watchOS, tvOS]
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test on ${{ matrix.platform }}
        run: |
          if [ "${{ matrix.platform }}" = "macOS" ]; then
            swift test
          else
            SIMULATOR=$(xcrun simctl list devices available -j | \
              python3 .github/scripts/find-simulator.py ${{ matrix.platform }})

            echo "Using simulator: $SIMULATOR"

            xcodebuild test \
              -scheme OpenFeature \
              -parallel-testing-enabled NO \
              -destination "id=$SIMULATOR"
          fi

  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --config .swiftlint.yml
