name: CI

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

jobs:
  Tests:
    runs-on: macOS-latest
    strategy:
      matrix:
        include:
          - platform: iOS
            sdk: iphonesimulator
          - platform: macOS
          - platform: watchOS
            sdk: watchsimulator
          - platform: tvOS
            sdk: appletvsimulator
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test on ${{ matrix.platform }}
        run: |
          if [ "${{ matrix.platform }}" = "macOS" ]; then
            swift test
          else
            xcodebuild test \
              -scheme OpenFeature \
              -sdk ${{ matrix.sdk }}
          fi

  SwiftLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: GitHub Action for SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --config .swiftlint.yml
