name: CocoaPods

on:
  workflow_dispatch:
  workflow_call:
  release:
    types: [published]

jobs:
  pod-lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Lint Podspec
        run: pod lib lint --allow-warnings

  pod-publish:
    needs: pod-lint
    # Run when triggered by a release event OR when called from release-please workflow
    if: github.event_name == 'release' || github.event_name == 'workflow_call'
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Update CocoaPods Trunk
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
        run: |
          # Push the podspec to trunk
          pod trunk push OpenFeature.podspec --allow-warnings --verbose
