on:
  push:
    branches:
      - main

name: Run Release Please
jobs:
  release-please:
    runs-on: ubuntu-latest

    # Release-please creates a PR that tracks all changes
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: simple
          command: manifest
          token: ${{secrets.GITHUB_TOKEN}}
          default-branch: main

      - name: Dump Release Please Output
        env:
          RELEASE_PLEASE_OUTPUT: ${{ toJson(steps.release.outputs) }}
        run: |
          echo "$RELEASE_PLEASE_OUTPUT"

    # Outputs are not namespaced when using simple release type with root path
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      # Version doesn't include `v` as a prefix. This is undocumented
      version: ${{ steps.release.outputs.version }}
      upload_url: ${{ steps.release.outputs.upload_url }}

  # Trigger the CocoaPods workflow when a release is created
  cocoapods:
    needs: release-please
    if: ${{ fromJSON(needs.release-please.outputs.release_created || false) }}
    uses: ./.github/workflows/cocoapods.yaml
